<div class="container">
  <div class = "text-center">
    <div class="jumbotron text-center">
      <h1>Welcome to Students App</h1>
    </div>
    <%= link_to "Show all students", "javascript:void(0)",class: "btn btn-primary bootstrp-btn", id: 'all-students' %>
    <%= link_to "Create Student", new_student_path,class: "btn btn-success bootstrp-btn" %>
  </div>
  <div class = "display_list"></div>
  <table class="table table-dark hide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>College</th>
        <th>Doing Intership</th>
        <th>Intership Company Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>